// CONTACT
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/contact-mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  color: #fff;
  border-radius: 2rem;

  & label {
    margin: 0 3rem;
  }

  & button {
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  & input {
    padding: 1rem 3rem;
  }
}

.form-head {
  text-align: center;
  padding: 4rem;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}